{% extends 'base.html.twig' %}
{% block title %}Interface Administrateur{% endblock %}
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{{ asset('logo.png') }}"/ class="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('file_explorer') }}">Interface utilisateur</a>
                    </li>
                    <li>
                      <button  class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal">
                        Importer des images
                      </button>
                    </li>
                    <li>
                      <button class="btn btn-primary btn-xs" id="save-changes" disabled>
                          enregistrer
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<br/><br/><br/><br/>
<header class="header-image">
  <div class="headline">
    <div class="container">
      <div id="carousel" class="carousel slide col-xs-12" data-ride="carousel" data-interval="false">
        <div class="row center-block">
              <button class="btn btn-default" id="rotate-left">
                rotate left
              </button>
              <button class="btn btn-default" id="rotate-right">
                rotate right
              </button>
        </div>
        <div class="carousel-inner" role="listbox">
          {% for image in images %}
          <div class="item {%if loop.index0 == 0%}active{%endif%}">
            <img src="{{ asset('images/original/'~image.path~'')}}" data-rotate="{{image.orientation}}" data-id="{{image.id}}" data-idRepository="{{image.idRepository.id}}" data-title="{{image.title}}" data-legend="{{image.legend}}">
            <h4>
              <textarea class="title">{{image.title}} </textarea>
            </h4>
            <div class="carousel-legend">
              <h4>Description</h4>
              <textarea class="legend">{{image.legend}}</textarea>

            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<div class="container">


<div id="file-tree row" >
  <h3>{{currentFolder.name}}</h3>

  {%if currentFolder.idParent is defined and currentFolder.idParent is not null%}
    <div class="col-xs-12">
      <a href="{{ path('admin', {'page': currentFolder.idParent.id}) }}"><button>Retourner au répertoire parent</button></a>
    </div>
  {%endif%}
<div class="subFolders col-xs-12">
  <div class="col-xs-12">
    <button id="addFolder" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalAddFolder">Ajouter un dossier ici.</button>
  </div>
    {% for subFolder in subFolders %}
          <div  class="subFolder" >
            <form method="post" action="{{ path('deleteFolder') }}" enctype="multipart/form-data">
              <a href="{{ path('admin', {'page': subFolder.id}) }}"  >
                <span class="glyphicon glyphicon-folder-close folder" aria-hidden="true" ></span>
              </a>

              {{subFolder.name}}
              <input type="hidden" name="idFolder" value="{{subFolder.id}}">
              <button type="submit" class="glyphicon glyphicon-trash" aria-hidden="true" id="deleteFolder"></button>
            </form>
          </div>
    {% endfor %}
  </div>
  <div class="row img-indicators">
    {% for image in images %}

        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail">
            <form  action="{{ path('deleteImage') }}" method="post">
              <input type="hidden" name="idImage" value="{{image.id}}"/>
              <button type="submit" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </form>
            <img src="{{ asset('images/small/'~image.path~'')}}" data-target="#carousel" class="img-indicator" data-slide-to="{{loop.index0}}" data-rotate="{{image.orientation}}">
          </a>
        </div>

    {% endfor %}
  </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Import d'image</h4>
          </div>
          <form method="post" action="{{ path('import') }}" enctype="multipart/form-data">
            <div class="modal-body">
              <input type="hidden" name="MAX_FILE_SIZE" value="1073741824" />
              <label for="icone">Image (JPG, PNG ou GIF | max. 1 Go) :</label><br />
              <input type="file" name="icone" id="icone" /><br />
              <label for="titre">Titre du fichier (max. 50 caractères) :</label><br />
              <input type="text" name="titre" value="Titre du fichier" id="titre" /><br />
              <label for="description">Description de votre fichier (max. 255 caractères) :</label><br />
              <textarea name="description" id="description"></textarea><br />
              <input type="hidden" name="currentFolder" value="{{idFolder}}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-success" name="submit" value="Envoyer" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalAddFolder" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Import d'image</h4>
          </div>
          <form method="post" action="{{ path('addFolder') }}" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="form-group">
                <label for="folderName">Nom du dossier</label>
                <input type="text" class="form-control" id="folderName" name='folderName' placeholder="nom du dossier">
              </div>
                <input type="hidden" name="currentFolder" value="{{idFolder}}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-success" name="submit" value="Envoyer" />
            </div>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
{% block javascripts %}
<script>
$('.carousel').carousel()
</script>
{% endblock %}
